/** Webfont */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

html {
  font-size: 62.5%;
}

.root {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/** Links */
a:link {
  text-decoration: none;
  color: $color-accent-light;
}

a:visited {
  color: $color-accent-light;
}

a:hover {
  color: lighten($color-accent-light, 8%);
}

a:active {
  color: lighten($color-accent-light, 8%);
}

.area-light a:link {
  text-decoration: none;
  color: darken($color-accent-light, 5%);
}

.area-light a:visited {
  color: darken($color-accent-light, 5%);
}

.area-light a:hover {
  color: darken($color-accent-light, 13%);
}

.area-light a:active {
  color: darken($color-accent-light, 13%);
}

.word--tight {
  word-spacing: 0.2em;
}

.text-hidden {
  font-size: 0;
  line-height: 0;
  border: 0;
  text-shadow: none;
  color: rgba(0, 0, 0, 0);
}
